#HEADER {
	color: white;
	font-family: lobster;
	text-align: center;
	background-color: #00A0B0;
	height: 40px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	position: relative;
	top: -10px;
}

#WRAPPER {
	position: relative;
	top: -10px;
	border-left: 1px solid grey;	
	border-right: 1px solid grey;	
	border-bottom: 1px solid grey;	
	box-shadow: 5px 5px 5px grey;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 20px;
	font-family: Verdana, Arial, sans-serif;
	font-size: 0.8em;
}

#inputs {
	width: 200px;
}

#inputs input {
	font-family: Verdana, Arial, sans-sertif;
	width: 90%;
	clear: both;
	color: #777;
}

textarea {
	width: 400px;
}
